	</div>
	<div id="footer" class="clear">
		<div class="credits">
			Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>, Authored by <a href="mailto://<%= config.email %>"><%= config.author %></a>
		</div>
	</div>
</div>
<script type="text/javascript">
    <% if(config.disqus_shortname){ %>
        var disqus_shortname = '<%= config.disqus_shortname %>';
    <% } %>
    <% if(config.ujian_uid){ %>
        var ujian_uid = '<%= config.ujian_uid %>'
    <% } %>
</script>
<%- js('/js/moment-with-locales.js', '/js/jquery.min.js', '/js/base.js', '/js/sparkles.js') %>
</body>
</html>