<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8">
<title>
    <%= config.title %>
    <% if(is_post()){ %>
        | <%= page.title %>
    <% } else if(page.category){ %>
        | <%= page.category %>
    <% } else if(is_tag()){ %>
        | <%= page.tag %>
    <% } %>
</title>
<% if (config.description){ %>
    <meta name="description" content="<%= config.description %>" />
<%  } %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,maximum-scale=1.0,user-scalable=no">
<%- css('/css/style.css') %><%- css('/css/syntax.css') %>
<% if(config.feed){ %>
    <link rel="alternate" type="application/rss+xml" title="feed" href="<%- url_for(config.feed.path) %>"/>
<% } %>
</head>

<body>
<div id="background"></div>
<div id="container">
	<div id="header">
		<a class="title" href="<%= config.root %>" title="<%= config.title %>">
			<% var arr = [];
                config.title.split(' ').forEach(function(item){
                    arr.push('<span class="title">' + item + '</span>');
                });
            %>
            <%- arr.join('') %>
		</a>
		<div id="nav">
			<%- partial('navigation_list') %>
		</div>
	</div>
	<div id="content">
	